extends layout
block content
   div#content
     div#content-header
       h1 Deals
     div(class="container-fluid")
       div(class='row-fluid')
        div(class='span12')
         div(class="container-fluid",id="appointments")
           div.row
             div.btn-group
                button.btn.btn-info#selectVenueBt Select Venue
                button.btn.btn-info.dropdown-toggle(data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  each val,key in info.venues  
                    li
                      a(href='javascript:void(0)',class="selectVenueById",venue_id="#{val.foursquare_id}") #{val.name}
           div.row(id="manageEmp") 
             div(class="container span4" ,style="")
              div(class='widget-box')
                 div(class='widget-title')
                     span(class='icon')
                        i(class='icon-align-justify')
                     h5 Deal List
                   div(class='widget-content nopadding')
                    ul.recent-posts(id="empList")                        
                       each val,k in dealsList
                         each item in val
                          each v in val
                           li
                             a.showDeal(class="#{v.venue_id}",href="javascript:void(0)",id="#{v._id}") #{v.title} 
                             
             div(class="container span8" ,style="padding-left: 5px;")
              div(class="widget-box")
                div(class="widget-title")
                  span(class="icon")
                    i(class='icon-align-justify')
                  h5 Deal Details
                div(class='widget-content nopadding')
                  div.form-horizontal
                    input(type='hidden',id="dealId",style="display:none")                        
                    div.control-group(style="width: 95%")
                      label.control-label Title
                      div.controls
                        input(type='text',id="dealTitle",disabled)
                    input(type='hidden',id="empId",style="display:none")                        
                    div.control-group(style="width: 95%")
                      label.control-label Deal
                      div.controls
                        input(type='text',id="dealval",disabled)
                    input(type='hidden',id="eventId",style="display:none")                        
                    div.control-group(style="width: 95%")
                      label.control-label Venue
                      div.controls
                        select(id="dealVenue",disabled)
                         each val,key in info.venues
                           option(value="#{val.foursquare_id}")  #{val.name}
                    input(type='hidden',id="dealId",style="display:none")
                    div.control-group(style="width: 95%")
                      label.control-label Description
                      div.controls
                        input(type='text',id="dealDes",disabled)                        
                    div.control-group(style="width: 95%")
                      label.control-label Category
                      div.controls
                        input(type='text',id="dealCat",disabled)
                    div.control-group(style="width: 95%")
                      label.control-label Start Date
                      div.controls
                        input(type='text',id="dealStart",disabled)
                    div.control-group(style="width: 95%")
                      label.control-label End Date
                      div.controls
                        input(type='text',id="dealEnd",disabled)
                    div.control-group(style="width: 95%")
                      label.control-label Status
                      div.controls
                        input(type='text',id="dealStatus",disabled)
                    div.control-group(style="width: 95%")
                     div.controls          
                      button.btn.btn-success(id="aptUpdate") Update
                      a.btn.btn-danger(href="javascript:void(0)",id="dealDel",style="float:right",action="del") Delete 

block scripts
  script(type='text/javascript', src='/javascripts/lib/excanvas.min.js')
  script(type='text/javascript', src='/javascripts/lib/jquery.min.js')
  script(type='text/javascript', src='/javascripts/lib/jquery.ui.custom.js')
  script(type='text/javascript', src='/javascripts/lib/bootstrap.min.js')
  script(type='text/javascript', src='/javascripts/lib/jquery.peity.min.js')
  script(type='text/javascript', src='/javascripts/lib/unicorn.js')
  //script(type='text/javascript', src='/javascripts/lib/unicorn.dashboard.js')
  script(type='text/javascript', src='/javascripts/lib/jquery.uniform.js')
  script(type='text/javascript', src='/javascripts/lib/underscore.js')
  script(type='text/javascript', src='/javascripts/lib/backbone.js')
  script(type='text/javascript', src='/javascripts/lib/moment.js')
  script(type='text/javascript', src='/javascripts/deals.js')
  script
    var business_id = "#{info.id}";